<script type="text/javascript">
window.onload = function() {
    document.getElementById("sel_recordtype").onchange = function() {
        var type = event.target.value;
        if(type == 'MX' || type == 'SRV') {
            document.getElementById("span_priority").style.display = 'inline';
        }
        else {
            document.getElementById("span_priority").style.display = 'none';
        }
    };
};
</script>

<h1>Records for {{ domain.name }}:</h1>

<p><a href="/zones/list">Back to zone list</a></p>

{% module Template("zones_records.html", types_label="A, AAAA, CNAME", records_of_type=records_a_aaaa_cname, domain=domain) %}

{% module Template("zones_records.html", types_label="MX, SRV", records_of_type=records_mx_srv, domain=domain) %}

{% module Template("zones_records.html", types_label="TXT", records_of_type=records_txt, domain=domain) %}

{% module Template("zones_records.html", types_label="NS", records_of_type=records_ns, domain=domain) %}

<form method="post" action="/zones/{{ domain.id }}">
<p>
    <label for="txt_recordname">Name: </label><input type="text" name="name" id="txt_recordname"/>
    <label for="sel_recordtype">Type: </label><select name="type" id="sel_recordtype">
        <option>A</option>
        <option>AAAA</option>
        <option>CNAME</option>
        <option>MX</option>
        <option>NS</option>
        <option>TXT</option>
        <option>SRV</option>
    </select>
    <span id="span_priority" style="display:none"><label for="txt_recordpriority">Priority: </label><input type="text" name="priority" id="txt_recordpriority"/></span>
    <label for="txt_recorddata">Data: </label><input type="text" name="data" id="txt_recorddata"/>
    <label for="txt_recordcomment">Comment: </label><input type="text" name="comment" id="txt_recordcomment"/>
    <input type="submit" value="Add new record"/>
</p>
</form>
