<h1>Records for {{ domain.name }}:</h1>

<p><a href="/zones/list">Back to zone list</a></p>

{% module Template("zones_records.html", types_label="A, AAAA, CNAME", records_of_type=records_a_aaaa_cname) %}

{% module Template("zones_records.html", types_label="MX, SRV", records_of_type=records_mx_srv) %}

{% module Template("zones_records.html", types_label="TXT", records_of_type=records_txt) %}

{% module Template("zones_records.html", types_label="NS", records_of_type=records_ns) %}

<form method="post" action="/zones/{{ domain.id }}">
<p>
    <label for="txt_recordname">Name: </label><input type="text" name="name" id="txt_recordname"/>
    <label for="sel_recordtype">Type: </label><select name="type" id="sel_recordtype">
        <option>A</option>
        <option>AAAA</option>
        <option>CNAME</option>
        <option>MX</option>
        <option>NS</option>
        <option>TXT</option>
        <option>SRV</option>
    </select>
    <label for="txt_recorddata">Data: </label><input type="text" name="data" id="txt_data"/>
    <input type="submit" value="Add new record"/>
</p>
</form>
